<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'facsimile_edition' %>
<script language="javascript">
    <!--
    window.onresize = function () {
        setHeight (); 
    }
   
    window.onload = function () {
        setHeight ();
        go_to_anchor('<%= params[:page] %>');
    }
    //-->
</script>


<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p>&nbsp;</p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @elements, :panorama_type => 'vertical', :mc => @mc, :mc_type => @type, :material => @material) %>
</div>
<!--[if !IE]>scrol<![endif]-->   

<div id="content" class="divided">
  <div id="visore">
    <div id="toolbar">
      <p class="previous"><%= previous_page %></p>
      <p class="sigla"><%= @page.uri.local_name %></p>
      <p class="zoom"><select>
          <option value="#">zoom</option>
          <option value="#">25%</option>
          <option value="#">50%</option>
          <option>75%</option>
          <option>100%</option>
        </select>
        
      </p>
      <p class="tooltools"><a href="#" title="pdf" class="pdf">pdf</a>    <a href="#" title="print" class="print">print</a></p>
      <p class="sigla"><%= @page2.uri.local_name%></p>
      <p class="next"><%= next_page %></p>
    </div>
    <div id="image_big">
      <img src='<%= "#{@page.uri.to_s}.jpeg"%>' alt='<%= @page.uri.local_name %>' height='488'/>
      
      <img src='<%= "#{@page2.uri.to_s}.jpeg"%>' alt='<%= @page2.uri.local_name %>' height='488'/>
      <p><%= copyright_note(@page) %></p>
    </div>   
    
  </div>
  <!--[if !IE]>visore<![endif]-->  
</div>
