<%= render(:partial => 'fullscreen_script') %>

<div id="description">
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'vertical') %>
</div>
<!--[if !IE]>scroll<![endif]-->

<div id="content" class="divided">
  <div id="visore">

    <%= facsimile_edition_previous_page %>

    <% if double_page? %>
      <!-- Vista Facing Pages -->
      <div class="image_half">
        <p class="sigla"><%= @page.uri.local_name %></p>
        <%= iip_flash_viewer(@page, "100%", "100%", "iipfview_left") %>
      </div>

      <div class="image_half">
        <p class="sigla"><%= @page2.uri.local_name %></p>
        <%= iip_flash_viewer(@page2, "100%", "100%", "iipfview_right") %>
      </div>
    <% else %>
      <!-- Vista pagina singola -->
      <div class="image_big">
        <p class="sigla"><%= @page.uri.local_name %></p>
        <%= iip_flash_viewer(@page, "100%", "100%", "iipfview") %>

      </div>
    <% end %>
    <%= facsimile_edition_next_page %>

    <%= copyright_note(@page) %>
    
  </div> <!-- chiude visore -->
  <!--[if !IE]>visore<![endif]-->
</div>
