<script language="javascript">
    <!--
    
    Shadowbox.loadSkin('classic', '/images/shadowbox/skin');
    Shadowbox.loadLanguage('en', '/images/shadowbox/lang');
    Shadowbox.loadPlayer(['html','iframe'], '/images/shadowbox/player');
    
    document.observe('dom:loaded', function () {
        set_height ();
        go_to_anchor('<%= @page %>');
        
        
        // Shadowbox
        // Initzialize
        Shadowbox.init({
            onFinish:   shadowboxLoaded, // Function called when the pop up is created
            skipSetup: true // skip the automatic setup
        });
        // Event CLICK on the link to zoom the iip viewer
        Event.observe($('fullscreen'), 'click', function(event) {
            // Shadowbox options set up
            var shadowboxOptions = {
                player:     'html',
                title:      'Fullscreen View of <%= @page.uri.local_name %>',
                content:    '<div style="overflow: hidden;" id="iipFullscreenLoader"></div>',
                height:     document.viewport.getDimensions().height,
                width:      document.viewport.getDimensions().width,
                skipSetup:  true
            };
            // Open the shadowbox
            Shadowbox.open(shadowboxOptions);
        });
        // Function loaded when shadowbox is completely loaded
        function shadowboxLoaded(obj) {
            flashIIPWidth = $('shadowbox_content').getWidth() - 3;
            flashIIPHeight = $('shadowbox_content').getHeight() - 3;
            load_iip_flashclient("<%= TaliaCore::DataTypes::IipData.iip_server_uri %>", "<%= get_iip_data_for(@page).get_iip_root_file_path %>", String(flashIIPWidth), String(flashIIPHeight), "iipFullscreenLoader");
        }
    });
    //-->
</script>


<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => page_tabs) %>
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'vertical') %>
</div>
<!--[if !IE]>scrol<![endif]-->   

<div id="content" class="divided">
  <div id="visore">
    <div id="toolbar">
      <%= facsimile_edition_previous_page %>
      <p class="sigla"><%= @page.uri.local_name %></p>
      <p class="tooltools"><a href="#" title="pdf" class="pdf">pdf</a>
      <a href="#" title="print" class="print">print</a>
      <a href="#" title="full screen" class="fullscreen" id="fullscreen">fulscreen</a>
      </p>
      <% if (params[:pages] == 'double') %>
        <p class="sigla"><%= @page2.uri.local_name %></p>
      <% end %> 
      <%= facsimile_edition_next_page %>
    </div>
    
    <div id="image_big">
      
      <% if (params[:pages] == 'double') %>
        <%= iip_flash_viewer(@page, "100%", "100%", "iipfview_left") %>
        <%= iip_flash_viewer(@page2, "100%", "100%", "iipfview_right") %>
      <% else %>
        <%= iip_flash_viewer(@page, "100%", "100%", "iipfview") %>
      <% end %>
      <%= copyright_note(@page) %>
    </div>

  </div>
  <!--[if !IE]>visore<![endif]-->  
</div>
