<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'facsimile_edition' %>
<script language="javascript">
    <!--
    window.onresize = function () {
        set_height (); 
    }
   
    document.observe('dom:loaded', function () {
        set_height ();
        go_to_anchor('<%= @page %>');
    });
    //-->
</script>

<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => page_tabs) %>
</div>
<!-- menulocation -->
<div id="description">
  <p></p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'vertical') %>
</div>
<!--[if !IE]>scrol<![endif]-->   

<div id="content" class="divided">
  <div id="visore">
    <div id="toolbar">
      <%= facsimile_edition_previous_page %>
      <p class="sigla"><%= @page.uri.local_name %></p>
      <p class="tooltools"><a href="#" title="pdf" class="pdf">pdf</a>    <a href="#" title="print" class="print">print</a></p>
      <% if (params[:pages] == 'double') %>
        <p class="sigla"><%= @page2.uri.local_name %></p>
      <% end %> 
      <%= facsimile_edition_next_page %>
    </div>
    <div id="image_big">
      <%= iip_flash_viewer(@page, 600, 600) %>
      <% if (params[:pages] == 'double') %>
        <%= iip_flash_viewer(@page) %>
      <% end %> 
    </div>   
    
  </div>
  <!--[if !IE]>visore<![endif]-->  
</div>
