<%= render(:partial => 'page_script') %>

<div id="description">
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'vertical') %>
</div>
<!--[if !IE]>scroll<![endif]-->

<div id="content" class="divided">
  <div id="visore">

    <%= facsimile_edition_previous_page %>

    <% if double_pages? %>
      <!-- Facing Pages -->
      <div class="image_half">
        <p class="sigla"><%= part_title(@page) %></p>
        <%= iip_flash_viewer(:left, "100%", "100%", "iipfview_left") %>
      </div>

      <div class="image_half">
        <p class="sigla"><%= part_title(@page2) %></p>
        <%= iip_flash_viewer(:right, "100%", "100%", "iipfview_right") %>
      </div>
    <% else %>
      <!-- Single Page -->
      <div class="image_big">
        <p class="sigla"><%= part_title(@page) %></p>
        <%= iip_flash_viewer(:single, "100%", "100%", "iipfview") %>

      </div>
    <% end %>
    <%= facsimile_edition_next_page %>

    <p class="facsimile_copyright">
    <%= copyright_note(@page) %>
    </p>
  </div> <!-- chiude visore -->
  <!--[if !IE]>visore<![endif]-->
</div>
