<script language="javascript">
    <!--
    
    Shadowbox.loadSkin('classic', '/images/shadowbox/skin');
    Shadowbox.loadLanguage('en', '/images/shadowbox/lang');
    Shadowbox.loadPlayer(['html','iframe'], '/images/shadowbox/player');
    
    document.observe('dom:loaded', function () {
        set_height ();
        go_to_anchor('<%= @page %>');
        
        
        // Shadowbox
        // Initzialize
        Shadowbox.init({
            onFinish:   shadowboxLoaded, // Function called when the pop up is created
            skipSetup: true // skip the automatic setup
        });
        // Event CLICK on the link to zoom the iip viewer
        Event.observe($('fullscreen'), 'click', function(event) {
            // Shadowbox options set up
            var shadowboxOptions = {
                player:     'html',
                title:      'Fullscreen View of <%= @page.uri.local_name %>',
                content:    '<div style="overflow: hidden;" id="iipFullscreenLoader"></div>',
                height:     document.viewport.getDimensions().height,
                width:      document.viewport.getDimensions().width,
                skipSetup:  true
            };
            // Open the shadowbox
            Shadowbox.open(shadowboxOptions);
        });
        // Function loaded when shadowbox is completely loaded
        function shadowboxLoaded(obj) {
            flashIIPWidth = $('shadowbox_content').getWidth() - 3;
            flashIIPHeight = $('shadowbox_content').getHeight() - 3;
            load_iip_flashclient("<%= TaliaCore::DataTypes::IipData.iip_server_uri %>", "<%= get_iip_data_for(@page).get_iip_root_file_path %>", String(flashIIPWidth), String(flashIIPHeight), "iipFullscreenLoader");
        }
    });
    //-->
</script>

<div id="description">
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @pages, :panorama_type => 'vertical') %>
</div>
<!--[if !IE]>scroll<![endif]-->

<div id="content" class="divided">
  <div id="visore">

     <%= facsimile_edition_previous_page %>
    
    <% if double_page? %>
        <!-- Vista Facing Pages -->
        <div class="image_half">
          <p class="sigla"><%= @page.uri.local_name %></p>
          <%= iip_flash_viewer(@page, "100%", "100%", "iipfview_left") %>
        </div>

        <div class="image_half">
          <p class="sigla"><%= @page2.uri.local_name %></p>
          <%= iip_flash_viewer(@page2, "100%", "100%", "iipfview_right") %>
        </div>
    <% else %>
        <!-- Vista pagina singola -->
        <div class="image_big">
          <p class="sigla"><%= @page.uri.local_name %></p>
          <%= iip_flash_viewer(@page, "100%", "100%", "iipfview") %>
        </div>
    <% end %>

     <%= facsimile_edition_next_page %>
    
  </div> <!-- chiude visore -->
  <!--[if !IE]>visore<![endif]-->  
</div>
