
<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => show_tabs) %>
</div>
<!--[if !IE]>menulocation<![endif]-->
<!--[if !IE]>description<![endif]-->

<div id="scroll">
  <h1 class="scroll_title">
    <%= introduction_link %>
  </h1>
  <ul id="facsimile_frontpage_access_list">
    <% facsimile_edition_types.each do |type| %>
      <li id="<%= type.local_name %>">
        <h3>
          <% title = t(:"talia.types.#{type.local_name.underscore}") %>
          <%= titled_link("#{params[:id]}/#{type.local_name}",
            image_tag("facsimile_edition/ico_#{type.local_name}.jpg",
              :border => '0') + title) %> 
        </h3>
      </li>
    <% end %>
  </ul>
</div>

<div id="content" class="divided">



  <div id="visore">
    <%= render(:partial => "shared/edition_front_page") %>
  </div>
</div>
