<h2><%= @source.uri.to_name_s %></h2>
<table>
	<% for attribute, value in @source.attributes %>
	<tr>
		<td><%= attribute %></td>
		<td><%= value %></td>
	</tr>
	<% end %>
	<% for predicate in @source.direct_predicates %>
	<tr>
		<td><%= predicate %></td>
		<td>
			<% @source[predicate].each do |val| %>
				<%= val %><br/>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>