<div id="<%= "src_line_#{current_size}" %>" name="src_line" class="src_line">	
  <p><label><%= field_1_label %></label> 
    <select id="<%= "src_line_#{current_size}_field_1" %>" onchange="<%= w.onchange_link(current_size) %>" name="mc[]" >
      <%= w.works.collect do |item|
        "<option value=#{item.uri}>#{item.title}</option>"
      end
    %>
    </select>
    <label>in <%= field_2_label %></label> 
    <%= w.partial :advanced_search_select, :locals => {:field_name=> 'mc_from[]', :current_size => current_size, :selected_index => :first, :data => w.paragraphs(w.works.first.uri)} %>
    <label><%= field_3_label %></label> 
    <%= w.partial :advanced_search_select, :locals => {:field_name=> 'mc_to[]', :current_size => current_size, :selected_index => :last, :data => w.paragraphs(w.works.first.uri)} %>
  </p>
  <%= w.partial :advanced_search_adder, :locals => {:current_size => current_size} %>
      
</div>
<!--[if !IE]> linea ricerca<![endif]-->  
