<div id="search_adv" <%= "style='display: none;'" unless w.options[:visible] %> >
  <form action="<%= url_for(:action => 'advanced_search') %>" method="post" >
    <%= w.tag_search_type %>
    <% if w.options[:mode] != "avmedia" %>
      <div name="src_line_head" class="src_line">
        <p>
          <%= w.tag_word %>
          <%= w.tag_any_all %>
        </p>
        <%= w.partial :advanced_search_adder, :locals => {:current_size => 0, :version => "default"} %>
      </div>
      <%= params[:mc_from].collect do
            w.add_work_line
      end if !params[:mc_from].nil? %>
    <% else %>
      <%= if (params[:title_words].nil? && params[:abstract_words].nil? && params[:keywords].nil?)
        w.partial :advanced_search_avmedia_row, :locals => {:current_size => 0, :keyword_list => w.keyword}
      end %>
    <% end %>
    <!--[if !IE]> linea ricerca<![endif]-->

    <div id="src_line_tail" class="src_line">
      <p class="avvia"><label><%= t(:'talia.global.search') %></label> <input type="submit" value="<%= t(:'talia.global.search') %> " name="advanced_search_submission" />
    </div>
    <!--[if !IE]> linea ricerca<![endif]-->
  </form>
</div>