<div id="<%= "src_line_#{current_size}" %>" name="src_line" class="src_line">	
  <p>
    <%= w.tag_work %>
    <%= w.tag_aphorisms %>
    <%= w.tag_through %>
  </p>
  <%= w.partial :advanced_search_adder, :locals => {:current_size => current_size, :version=> "default"} %>

</div>
<!--[if !IE]> linea ricerca<![endif]-->  
