<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => @tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p>&nbsp;</p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="scroll">
  <%= widget(:simple_mode_panorama, :elements => @elements, :panorama_type => 'vertical', :mc => @mc, :mc_type => @type, :material => @material) %>
</div>
<!--[if !IE]>scrol<![endif]-->   

<div id="content" class="divided">
  <div id="visore">
    <div id="toolbar">
      <p class="previous"><%= widget(:simple_mode_image, :page => @page1, :mode => 'previous') %></p>
      <p class="sigla"><%= @page1 %></p>
      <p class="zoom"><select>
          
          <option value="#">zoom</option>
          <option value="#">25%</option>
          <option value="#">50%</option>
          <option>75%</option>
          <option>100%</option>
        </select>
        
      </p>
      <p class="tooltools"><a href="#" title="pdf" class="pdf">pdf</a>    <a href="#" title="print" class="print">print</a></p>
      <p class="sigla"><%= @page2 %></p>
          <p class="next"><%= widget(:simple_mode_image, :page => @page2, :mode => 'next') %></p>
    </div>
    <div id="image_big">
      <%= widget(:simple_mode_image, :page => @page1, :mode => 'show')%>

      <%= widget(:simple_mode_image, :page => @page2, :mode => 'show')%>
      <p>copyright</p>
    </div>   
    
  </div>
  <!--[if !IE]>visore<![endif]-->  
</div>
