
<!-- navigate -->
<div id="menulocation">
  <p><%= "Editor's Introduction".t %></p>
</div>
<!-- menulocation -->

<div id="description">
  <p> data from DB  </p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list">
    <li id="works">
      <h1>
        <a href="#" title="works section">
          <img src="/images/facsimile_edition/ico_works.jpg" alt="link to works section" width="78" height="70" border="0"/> 
          <%= "Works".t %>
        </a>
      </h1>
      
      <p><%= "Facsimile Edition Works Description".t %></p>
    </li>
    <li id="manusctripts">
      <h1>
        
        <a href="material_list" title="manuscripts section">
          <img src="/images/facsimile_edition/ico_manuscripts.jpg" alt="link to manuscripts  section" border="0"/> 
          <%= "Manuscripts".t %>
        </a>
      </h1>
      <p><%= "Facsimile Edition Manuscripts Description".t %></p>
    </li>
    
    <li id="library">
      <h1>
        <a href="#" title="library and readings">
          <img src="/images/facsimile_edition/ico_library.jpg" alt="link to Library and readings" border="0"/> 
          <%= "Library and readings".t %>
        </a>
      </h1>
      <p><%= "Facsimile Edition Library and Readings Description".t %></p>
    </li>
    <li id="correspondence">
      <h1>
        <a href="#" title="correspondence">
        <img src="/images/facsimile_edition/ico_correspondence.jpg" alt="link to correspondence" border="0"/>
        <%= "Letters".t %>
        </a>
        </h1>
      
      <p><%= "Facsimile Edition Letters Description".t %></p>
    </li>
    <li id="picture">
      <h1>
        <a href="#" title="picture material">
          <img src="/images/facsimile_edition/ico_picture.jpg" alt="link to picture material" border="0"/>
          <%= "Pictures".t %>
          </a>
          </h1>
      <p><%= "Facsimile Edition Pictures Description".t %></p>
    </li>
  </ul>
  
</div>
