<!-- navigate -->
<div id="menulocation">
  <%= widget(:simple_mode_tabs, :tabs_elements => @tabs_elements) %>
</div>
<!-- menulocation -->

<div id="description">
  <p> data from DB </p>
</div>
<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list" class="minilist">
    
    <% @elements.each do |element| %>
      <li>
        <h1>
        <a href="panorama?mc=<%= params['mc'] %>&material=<%= element[:siglum]%>&type=<%= @type %>" title="<%= element[:siglum] %>">
          <img arc="<%= element[:file_path] %>" alt="<%= element[:siglum] %>" border="0"/>
          <%= element[:siglum] %>
        </a>
        </h1>
        <p>
          <%= element[:description] %>
        </p>
      </li>
    <%end%>    
 
 </ul>
</div>

