<!--[if !IE]>navigate<![endif]-->
<div id="menulocation">
</div>
<!--[if !IE]>menulocation<![endif]-->

<div id="description">
  <p><%= material_description(@element) %></p>
</div>

<div id="scroll">
  <%= render(:partial => 'side_item', :collection => @element.category.members) %>
</div>

<div id="content" class="divided">
  <div id="visore">
    <div id="video">
      <%= video_box  %>
      <%= render(:partial => 'movie_selector') %>
    </div>   
    <%= render(:partial => 'info_box') %>
    <!--[if !IE]>infomovie<![endif]-->  
    <div class="float_clear"></div>
    <h2><%= t(:'talia.media.abstract') %></h2>
    <p class="text_long">
      <%= t(:"talia.abstracts.#{@element.uri.local_name}") %>
    </p>

    <div id="transcription">
      <h2><%= t(:'talia.media.transcription') %></h2>
      <p class="text_long">
        <%= @element.hyper::transcription.first %>
      </p>
    </div>
  </div>
  <!--[if !IE]>visore<![endif]-->  
</div>
