     </div>
   </div>
   <div id="footer" class="open">
     <h1>Talia | Discovery</h1>
     <p>Let's discover things</p>
   </div>
  </div> <!-- int_page end -->
</div> <!-- ext_page end -->

<%= javascript_include_tag :defaults, :cache => true %>
<%= javascript_include_tag 'lowpro', :cache => true %>
<%= widget_javascript_links :all -%>
<%= yield(:javascript) -%>
<%= click_to_globalize %>
