<div id="<%= element_id %>"></div>
<script>
    <!--
    Event.observe(window, 'load', 
    load_iip_flashclient("<%= TaliaCore::DataTypes::IipData.iip_server_uri %>",
    "<%= image_path %>", "<%= height %>", "<%= width %>", "<%= element_id %>"));
    -->
</script>

