<script>
    <!--
    
    /* AS THE PAGE IS LOADED, WE LOAD THE IIP FLASH VIEWER */
    document.observe('dom:loaded', function() {
      load_iip_flashclient("<%= TaliaCore::DataTypes::IipData.iip_server_uri %>",
    "<%= image_path %>", "<%= height %>", "<%= width %>", "<%= element_id %>");
    });
   
    -->
</script>
<div id="<%= element_id %>" class="<%= div_class  %>"></div>