<li>
  <h1><%= titled_link(video_list_item.uri, image_tag('thumbvideo.jpg', :alt => 'thumb') + video_list_item.play_length, 'thumb')  %></h1>
  <p class="title"><%= video_list_item.title %></p>
  <p class="text"><%= video_list_item.material_description %></p>
  <p class="data"><em>Author:</em> <%= video_list_item.dcns::creator.join(', ') %> <em>Date</em> <%= video_list_item.dcns::date.first  %> </p>
  <p class="keys">
    <% for keyword in video_list_item.keywords %>
      <%= titled_link(keyword.uri, keyword.keyword_value) %>
    <% end %>
  </p>
</li>
