<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="robots" content="all" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <%= stylesheet_link_tag 'nietzsche' %>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    
    <title><%= page_title %> </title>
  </head>
  
  <body>
    <blockquote>&nbsp;</blockquote>
    <div id="paginaExt">
      <div id="paginaInt">
        
        <div id="top_menu">
          <ul>
            <li><%= titled_link('http://unkown.com','About The Project')%>&nbsp;|&nbsp;</li>
            <li><%= titled_link('http://unkown.com','Committee Of Scholars')%>&nbsp;|&nbsp;</li>
            <li><%= titled_link('http://unkown.com','Development Team')%>&nbsp;|&nbsp;</li>
          </ul>
        </div>
        
        <div id="testata">
        </div>
        
        <div id="menu">
          <ul> 
            <li><a href="http://www.google.it" title="Deutsch, AccessKey: 1" accesskey="1">Deutsch</a></li>
            <li><a href="http://www.google.it" title="English, AccessKey: 2" accesskey="2">English</a></li>
            <li><a href="http://www.google.it" title="Fran&ccedil;ais, AccessKey: 3" accesskey="3">Fran&ccedil;ais</a></li>
            <li><a href="http://www.google.it" title="Italiano, AccessKey: 4" accesskey="4">Italiano</a></li>
          </ul>
        </div>
        
        <div id="contenuti">
          
          <div class="floatClear"></div>
          
          <div id="contenutoDoppio_ext">
            <div id="contenutoDoppio_int"> <div id="contenutoSinistra">
                <h2><%= "Simple Mode".t %> </h2>
                <p><%= "Simple Mode Home Description".t %></p>
                <ul>
                  <li id="diorio"><a href="http://www.google.it" title="Critical Edition Colli / Montinari">Critical Edition Colli / Montinari</a></li>
                  <li id="collimontinari"><a href="http://www.google.it" title="Facsimile Edition D'Iorio">Facsimile Edition D'Iorio</a></li>
                </ul>
              </div>
              
              <div id="contenutoDestra">
                <h2><%= "Full Mode".t %> </h2>
                <p><%= "Full Mode Home Description".t %></p>
                <ul>
                  <li><%= titled_link('http://www.insidePageURL.com', 'Enter in Scholar mode') %></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="floatClear"></div>
          
        </div>
        
        <div id="piede">
          <p>
            <%= titled_link('http://somewhere.com', 'Contacts') %>
          </p>
        </div>
      </div>
    </div>
    
    
  </body>
</html>
