<h1>List of works </h1>
<% if w.advanced_search %>
  <form name="advanced_search_menu_form" action="<%= url_for(:action => 'advanced_search') %>" method="post" >
    <%= w.show_books %>
    <%= w.show_hidden_field %>
    <%= w.hidden_field_tag 'mc_single' %>
    <%= w.hidden_field_tag 'advanced_search_submission', 'menu submission' %>
  </form>
<% else %>
  <%= w.show_books %>
<% end %>