<% if @progress_job%>

<div class="background_progress" >
	<div class="background_progress_bar "style="width: <%= (@progress_job.percentage * 6) %>px;">
		<span class="background_progress_caption">
		<%= @progress_job.progress_message %>&nbsp;<%= @progress_job.percentage %>%&nbsp;(<%= progress_eta %>)
		</span>
	</div>
</div>

<% else %>
<div class="background_item"><b>No progress information available.</b></div>
<% end %>

<div class="background_item"><b>Job is running since <%= @job.started_at.strftime("%m/%d/%Y %H:%M:%S") %> (<%= job_duration %>)</b></div>
