<div class="backlink"><%= link_to 'Job list', :action => 'index' %></div>
<h2>Job <%= @job.id %><% job_tag %></h2>

<div class="background_box">
<div class="background_item"><b>Priority:</b> <%= @job.priority %></div>
<div class="background_item"><b>Submitter:</b> <%= @job.submitter %></div>
<div class="background_item"><b>Submitted at:</b> <%= @job.submitted_at.strftime("%m/%d/%Y %H:%M:%S") %></div>
<% if @job.runner %>
<div class="background_item"><b>Runner:</b> <%= @job.runner %></div>
<% end %>
<div class="background_item"><b>Command:</b> <%= @job.command %></div>
</div>

<%= render_job %>

<div class="background_item"><%= environment_link %></div>
<div class="background_item"><%= stdin_link %></div>