<% unless @result.nil? %>
  <div id="critical_print_header">
      <div id="logo_print">
        <img src="/images/editions/<%= "#{@edition_nick}" %>_logo_print.png" alt="" />
      </div>
<!--      <div id="header_text">
        <h3>Simple Mode</h3>
        <h4>Colli montonari ed.</h4>
      </div>
      -->
    </div>

  <div class="floatclear"></div>
  <div id="content" class="divided grey">
  <!--
  <div id="logo_print">
      <img src="/images/editions/<%= "#{@edition_nick}" %>_logo_print.png" alt="" />
    </div>
  -->
  <div id="visore">
      <h2><%= @result.size %>  <%= t(:'talia.search.result phrase 1') %> <span class="red">'<%= params[:words] %>'</span> <%= t(:'talia.search.result phrase 2') %> <%= params[:edition_title] %></h2>


      <div class="resultstools"> <div class="print"><a href="#" title="print" onclick="window.print(); return false;"><%= t(:'talia.search.print results') %></a></div>
        <a href="#" title="full description" onclick="($A(getElementsByName('advanced_search_result_full_description[]'))).each(function(item){Element.show(item);});($A(getElementsByName('advanced_search_result_description[]'))).each(function(item){Element.hide(item);});return false;"><%= t(:'talia.search.full content') %></a> |
        <a href="#" title="expand all" onclick="($A(getElementsByName('advanced_search_result_full_description[]'))).each(function(item){Element.hide(item);});($A(getElementsByName('advanced_search_result_description[]'))).each(function(item){Element.show(item);});return false;"><%= t(:'talia.search.expand all') %></a> |
        <a href="#" title="collapse" onclick="($A(getElementsByName('advanced_search_result_full_description[]'))).each(function(item){Element.hide(item);});($A(getElementsByName('advanced_search_result_description[]'))).each(function(item){Element.hide(item);});return false;"><%= t(:'talia.search.collapse all') %></a>
      </div>
      <!--[if !IE]>resultstools<![endif]-->

      <ul class="results"><form name="advanced_search_result" action="<%= url_for(:action => 'advanced_search') %>" method="post">
          <% @result.each do |item| %>
            <li>
              <h3><%= item[:counter]  %> <label> select to print</label><input name="checkbox[]" type="checkbox" /> <span><%=  item[:title] %></span></h3>
              <p name="advanced_search_result_description[]"><%= item[:description] %></p>
              <div name="advanced_search_result_full_description[]" style="display:none" class="txt_block"><%= item[:full_description] %></div>
            </li>
          <% end %>
      </form></ul>
    </div>
    <!--[if !IE]>visore<![endif]-->
  </div>
  <!-- content -->

<% end %>
