<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @book.title %></title>
  <%= stylesheet_link_tag("editions/critical") %>
  <%= stylesheet_link_tag("editions/critical_print") %>
  <%= javascript_include_tag 'tooltip.js' %>
  <link href="/stylesheets/editions/critical_print.css" media="print" rel="stylesheet" type="text/css" />

  <% @custom_stylesheet.each do |style| %>
    <%= stylesheet_link_tag(style) %>
  <% end %>
</head>
<html>
  <body>
    <div id="critical_print_header">
      <div id="logo_print">
        <img src="/images/editions/<%= "#{@edition.uri.local_name}" %>_logo_print.png" alt="" />
      </div>
      <div id="header_text">
        <h4><%= t(:"talia.search.#{@edition.uri.local_name}") %></h4>
      </div>
    </div>
    <%= render(:partial => "html_data_pane") %>
  </body>
</html>
