<h2>Files</h2>
<div id="data">
  <%= render :partial => "list" %>
  
  <p><%= show_upload_form %></p>
  <div id="data_form">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var authenticityToken = '<%= protect_against_forgery? ? form_authenticity_token : "" %>';
</script>

<%= javascript_include_tag 'controls', 'force_identify', 'edit_sources' %>
<%= stylesheet_link_tag 'auto_complete' %>