<% @source.grouped_direct_predicates.each do |namespace, group| %>
  <div id="<%=h namespace.underscore %>">
    <p class="rdf_header">
      <%= image_tag 'arrow_grouped.png', :size => '12x12', :class => 'arrow_grouped' %>
      <%=h namespace.titleize %>
      <%= add_another_predicate namespace %>
    </p>
    <div class="predicates">
      <% group.each do |name, sources| %>
        <%= render :partial => "predicate", :collection => sources.flatten, :locals => { :namespace => namespace, :name => name } %>
      <% end %>
      <div id="new_predicates_for_<%=h namespace.underscore %>"></div>
    </div>
  </div>
<% end %>
