<!-- wizard widget -->
<div class="wizard">
  <div class="wizard_title" >
    <%= @widget.wizard_title %>
  </div>
  <div class="wizard_error">
    <%= @widget.wizard_error_message %>
  </div>
  <div class="wizard_body" >
    <%= @widget.partial 'wizard_steps', :locals => {:steps =>  @widget.wizard_steps, :current_step => @widget.current_step, :wizard_name => @widget.wizard_name} %>
    <div class="wizard_content" >
      <% form_for @widget.wizard_model_tableized, @widget.wizard_model, :url => {:controller => @widget.wizard_controller, :action => @widget.wizard_action}, :html => {:name => @widget.wizard_name, :enctype => 'multipart/form-data'} do %>
        <%= hidden_field "#{@widget.wizard_model_tableized}_step", {:value => @widget.current_step} %>
      
        <% if @widget.current_step <= @widget.length %>
          <%= render :partial => "#{@widget.wizard_directory}/#{@widget.current_step_hash[:partial]}", :locals => {:wizard_widget => @widget} %>
        <% else %>
          <%= @widget.partial 'wizard_finish', :locals => {:wizard_widget => @widget} %>
        <% end %>
      
        <% if (@widget.current_step > 1) && (@widget.current_step <= @widget.length) %>
          <%= submit_tag "Previous",:name => "#{@widget.wizard_model_tableized}_submission" %>
        <% end %>
      
        <% if @widget.current_step <= @widget.length %>
          <%= submit_tag "Next",:name => "#{@widget.wizard_model_tableized}_submission" %>
        <% else %>    
          <%= submit_tag "Submit",:name => "#{@widget.wizard_model_tableized}_submission" %>     
        <% end %>
      
      <% end %>
    </div>
  </div>
</div>