<%#
# This is the template to render just the "current" list of navigation items,
# using the current navigation level
%>

<ul id="ipod_nav_level_<%= current_level %>">
    <li class="ipod_navigation_down_link" id="current_nav_item">
  <b class="ipodStyle"><%= navigation_title %></b>
  </li>
  <% if(w.show_home) %>
    <li class="ipod_navigation_back_link" id="back">
      <%= type_link_up("Back") %>
    </li>
  <% end %>
  <% for supertype in w.supertypes %>
    <li class="ipod_navigation_back_link" id="<%="#{ supertype.to_name_s('_') }"%>">
      <%= type_link_up(supertype) %>
    </li>
  <% end %>
  <% for subtype in w.subtypes %>
    <li class="ipod_navigation_down_link" id="<%="#{ subtype.to_name_s('_') }"%>"> 
        <%= type_link_down(subtype, current_level) %> 
    </li>
  <% end %>
</ul>
