<% 
# The actual HTML code for the page resides in the _home_template.html.erb file 
# This page serves as a customization point for the homepage to adapt
# it to the needs of different users
%>

<%
# Defines the links on top of the homepage
@title_links = [
  [t(:"talia.start_page.about_link"), locale_uri("/documentation/index.php/LANG/home.html")],
  [t(:"talia.start_page.comittee_link"), locale_uri("/documentation/index.php/LANG/comittee.html")],
  [t(:"talia.start_page.devteam_link"), "http://www.talia.discovery-project.eu/"],
  [t(:"talia.start_page.admin_link"), "/admin"]
]
# Defines the languages that can be selected
@languages = [
  ['Deutsch', 'de'],
  ['English', 'en'],
  ['Fran&ccedil;ais', 'fr'],
  ['Italiano', 'it']
]
# The link that goes on the footer of the page
@footer_link = [t(:'talia.start_page.contacts_link'), 'http://www.discovery-project.eu']

%>

<% content_for :left_box do %>
  <!-- Left content box -->
  <h2><%= t(:'talia.start_page.categories') %> </h2>
  <p><%= t(:'talia.start_page.categories_description') %></p>
  <ul>
    <%= category_links %>
  </ul>
  <!-- End left content box -->
<% end  %>

<% content_for :right_box do %>
      <!-- right content box -->
  <h2><%= t(:'talia.start_page.series') %> </h2>
  <p><%= t(:'talia.start_page.series_description')  %></p>
  <ul>
    <%= series_links %>
  </ul>
  <!-- End right content box -->
<% end %>