<%
  # Customizable footer for the start page.
%>

<!-- Footer -->
<div id="footer">
  <table id="footer_table">
    <tr>
      <td align="left" id="footer_table_left">
        <a id="footer_europe" href="<%= locale_uri("documentation/LANG/institutions.html") %>" target="_blank"></a>
      </td>
      <td align="center" id="footer_table_center">
        <%= institution_link('CNRS') %>
        <a href="<%= locale_uri("documentation/LANG/rights.html")%>"> <%= t(:'talia.footer.rights') %> </a>
        |
        <%= t(:'talia.footer.overseer') %>:
        <%= link_to("Paolo D'Iorio", 'http://diorio.org/', :target => '_blank') %>
      </td>
      <td align="right" id="footer_table_right">
        <a id="footer_talia" href="http://www.talia.discovery-project.eu/" target="_blank"></a>
      </td>
    </tr>
  </table>
</div>
<!-- Footer -->