<% hide_sidebar %>

<%= error_messages_for :user %>
<h1>Edit User</h1>
<% form_for(:user, @user, :url => {:controller => 'admin/users', :action => 'update', :id => @user}, :html => {:method => :put}) do |f| %>
  <% field_set_tag 'Personal data' do %>
    <%= render :partial => "form" %>
  <% end %>
  <% field_set_tag 'Roles' do %>
    <%= render :partial => "form_roles" %>
  <% end %>  
  
  <p><%= f.submit "submit" %> or <%= link_to "cancel", :action => "index" %></p>
<% end %>