<%= languages_picker %>
<% autoload_reference_translations %>
<%= javascript_include_tag 'translations' %>
<% form_tag(admin_translation_path(@locale_code), :method => :put) do -%>
<p style="margin-top: 2ex"><%= submit_tag %></p>
<table id="translations" border="0" cellspacing="5" cellpadding="5">
  <tr><td></td><td></td></tr>
  <tr>
    <th>Key</th>
    <th>Translation</th>
  </tr>
  <%= render :partial => 'translation', :collection => @translations %>
</table>
<p><%= add_translation %></p>
<p><%= submit_tag %></p>
<% end -%>
