<!-- navigate -->
<div id="menulocation">
</div>
<!-- menulocation -->

<div id="description">
  <p><%= material_description(@element) %></p>
</div>

<!--[if !IE]>description<![endif]-->
<div id="content">
  <ul id="access_list"  class="minilist">    
    <% for element in @element.parts(TaliaCore::Media) %>
      <li>
        <h1><a href="<%= element.uri %>" title="thumb"><%= image_tag('thumbvideo.jpg', :alt => 'thumb') %><%= element.play_length  %></a></h1>
        <p class="title"><%= element.title %></p>
        <p class="text"><%= material_description(element) %></p>
        <p class="data"><em><%= t(:'talia.global.author')  %> </em> <%= element.dcns::creator.join(', ') %> <em>Date</em> <%= element.dcns::date.first  %> </p>
        <p class="keys">
          <% for keyword in element.keywords %>
            <%= titled_link(keyword.uri, keyword.keyword_value) %>
          <% end %>
        </p>
      </li>
    <% end %>   
  </ul>  
</div>