<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= h(yield(:title) || "Talia | The Digital Library") %></title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= widget_stylesheet_links :all %>
    <%= yield(:stylesheet) %>
  </head>
  <body class="open">
    <%= sidebar || yield(:sidebar) %>
    <%= render :partial => 'shared/header' %>
    <%= yield %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>
