<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title><%= critical_edition_page_title %></title>
    <%= stylesheet_link_tag 'critical_edition' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'critical_edition' %>
  </head>
  <body>
    <script> 
        window.onresize = function () {
            set_height (); 
        }
        document.observe('dom:loaded', function() {
            set_height();        
            go_to_anchor('<%= @href_for_text %>');
        });
    </script>
    <div id="page_ext">
      <div id="page_int">
        <div id="header">
          <h1><%= critical_edition_page_title %></h1>
          <h2><%= "Simple Mode".t %></h2>
          <div id="search_box">
            <% form_tag :action => "search" do -%>
              <p class="head_search">
                <label><%= "Search".t %></label> 
                <input type="text" name="words"/>
                <label class="invia"><%= "Search".t %></label>
                <input type="submit" class="invia"/>
              </p>
              <a href="#" onclick="Element.toggle('search_adv'); return false;" class="advsrch">advanced search</a>
            
            <% end -%>
          </div>
          
        </div>
        <!-- header -->
        <div id="navigate">
          <div id="tools">
            <ul>
              <li id="print"> <a href="#"><%= "Print".t %></a></li>
            </ul>
          </div>
          <!-- tools -->
<%= widget(:simple_mode_path, :path_elements => critical_edition_path) %>
        </div>
        <!-- navigate -->
        
        <!-- advanced search -->

<%= widget(:advanced_search, :id => 'search_adv', :options => {:work => @critical_edition.books, :visible => false}) %>

<%= yield %>
        
        
      </div>
      <!-- page_int -->
    </div>
    <!-- page_ext -->
  </body>
</html>

