<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title><%= @title  %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'plain_shared' %>
  </head>
  <body>
    <div id="page_ext">
      <div id="page_int">
        <div id="header">
          <h1><%= @title  %></h1>
          <h2><%= @subtitle %></h2>
          <!-- %= edition_partial :search_box % -->
        </div>
        <!-- header -->
        <div id="navigate">
          <!-- <div id="tools">
            <ul>
              
            </ul>
          </div> -->
          <!-- tools -->
<%= widget(:simple_mode_path, :path_elements => @path) %>
        </div>
        
        <!-- navigate -->
        
        <!-- advanced search -->

<%= yield %>
        
        
      </div>
      <!-- page_int -->
    </div>
    <!-- page_ext -->
  </body>
</html>
