<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title><%= @title  %></title>
    <%= stylesheet_link_tag 'advanced_search' %>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'plain_shared' %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <div id="page_ext">
      <div id="page_int">
        <div id="header">
          <h1><%= @title  %></h1>
          <h2><%= @subtitle %></h2>
          
          <!-- %= edition_partial :search_box % -->
          <div id="search_box">
            <% form_tag :action => "advanced_search" do -%>
              <%= hidden_field_tag 'search_type', 'media' %>
              <%= hidden_field_tag 'operator', 'or' %>
              <p class="head_search">
                <label><%= t(:'talia.global.search') %></label> 
                <input type="text" name="title_words[]" />
                <label class="invia"><%= t(:'talia.global.search') %></label>
                <input type="submit" class="invia" value="" name="advanced_search_submission"/>
              </p>
              <a href="#" onclick="Element.toggle('search_adv'); return false;" class="advsrch"><%=  t(:'talia.global.search_advanced') %></a>
            
            <% end -%>
          </div>
          
        </div>
        <!--[if !IE]>header<![endif]-->
        <div id="navigate">
          <!-- <div id="tools">
            <ul>
              
            </ul>
          </div> -->
          <!--[if !IE]>tools<![endif]-->
<%= widget(:simple_mode_path, :path_elements => @path) %>
        </div>
        
        
        <!--[if !IE]>navigate<![endif]-->
        
        <!--[if !IE]>advanced search<![endif]-->
<%= widget(:advanced_search, :id => 'search_adv', :options => {:mode => :avmedia, :visible => advanced_search_visible}) %>

<%= yield %>
        
        
      </div>
      <!--[if !IE]>page_int<![endif]-->
    </div>
    <!--[if !IE]>page_ext<![endif]-->
  </body>
</html>
