<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title><%= edition_page_title %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= edition_style_link %>
  </head>
  <body>
    <%= edition_partial :script %>
    <div id="page_ext">
      <div id="page_int">
        <div id="header">
          <h1><%= edition_page_title %></h1>
          <h2><%= t(:'talia.global.simple_mode') %></h2>
          <h3><%= translate_edition_name(@edition)  %></h3>
          <%= edition_partial :search_box %>
        </div>
        <!--[if !IE]>header<![endif]-->
        <div id="navigate">
          <div id="tools">
            <ul>
              <% for tool in (@tools || []) %>
                <li id="<%= tool[:id] %>">
                    <span>
                        <a title="#{tool[:text]}" href="<%= tool[:link] %>" <%= "target='#{tool[:target]}'"if tool[:target] %>><%= tool_text(tool) %></a>
                    </span>
                </li>
              <% end  %>
            </ul>
          </div>
          <!--[if !IE]>tools<![endif]-->
<%= widget(:simple_mode_path, :path_elements => @path) %>
          <div id="talia_link"><a href="http://www.talia.discovery-project.eu/">Powered by Talia</a></div>
        </div>
        <!--[if !IE]>navigate<![endif]-->
        
        
        <!--[if !IE]>advanced search<![endif]-->
<%= edition_partial :header_extension %>

<%= yield %>
        
        
      </div>
      <!--[if !IE]>page_int<![endif]-->
    </div>
    <!--[if !IE]>page_ext<![endif]-->
    <%= sprockets_include_tag %>
    <%= google_analytics %>
  </body>
</html>