<%= header %>
<%= sidebar %>
<div id="ext_page"> <!-- ext_page: elemento esterno a tutto -->
  <div id="int_page"> <!-- int_page: elemento esterno a tutto, interno solo a ext_page -->
    
    <%=  render :partial => 'shared/header' %>
    <!-- header end -->
  
    <!-- contents: main part of the page - divided into external and internal -->
    <div id="contents_ext" class="open">
      <div id="contents_int">
        <p  id="contents_loader" style="display: none" class="side_bar_loader">Caricamento in corso</p>
        <!-- Dummy toolbar call. This uses arrays instead of hashes, so that the button order is preserved. -->
        <%= source_toolbar %>
        <%= login_box %>
        <%= show_flash %>
        <%= @content_for_layout %>
      </div>
    </div>
    <%= talia_footer %>
    <!-- footer: contains some info -->
    <!-- footer end -->
        
  </div> <!-- int_page end -->
</div> <!-- ext_page end -->

<%= footer %>