<%= render(:partial => 'shared/main_header') %>

<%= 
    widget(:sidebar, 
        'active_tab' => 'navigation',
        'active_tab_options' => { :source_class => @type }
        ) 
%>

<%= 
    #widget(:sidebar) do
      #tab :navigation "Navigation" do
        #title "Navigation"
        #name "Navigation"
        #key 1
        #content navigation_bar
      #end
      
       #dtab :context do
       #RHTML 
       #end
    #end
          #:navigation => {:title => "Navigation", :name => "Navigation", :key => 1, :content => :navigation_bar },
          #:context => {:title => "Related Contents", :name => "Related Contents", :key => 2, :content => :context_bar },
          #:panorama => {:title => "Panorama", :name => "Panorama", :key => 3, :content => :panorama_view },
          #:login => {:title => "Login", :name => "Login", :key => 4, :content => :login },
          #:search => {:title => "Search and filter", :name  => "Search and Filter", :key => 5, :content => :search },
          #:settings => {:title => "Settings", :name => "Settings", :key => 6, :content => :settings }
        #},
        #:active_tab => :navigation,
        #:active_tab_options => { :source_class => @type }
        #) 
%>
    
<div id="ext_page"> <!-- ext_page: elemento esterno a tutto -->
  <div id="int_page"> <!-- int_page: elemento esterno a tutto, interno solo a ext_page -->
    
    <!-- header: contains title of the project - upper part -->
    <div id="header">
      <div id="title_bar">
        <h1><a href="#" title=""><%= page_title %></a></h1>
        <p class="header_subtitle"><%= page_subtitle %></p>
      </div>
      <div id="top_bar">
        <div id="top_bar_search">
          <form id="searchform" method="get" action="">
            <p>
                <input type="text" name="s" id="s" size="20" />
                <button type="submit" name="searchbutton" id="searchbutton" value="Go">go</button>
            </p>
          </form>
        </div>
        <div id="top_bar_login">
          <p><a class="login_icon" href="#" title="Login">Login</a></p>
          <div id="login_baloon">
            <form method="post" action="">
              <label>Log In</label>
              <input name="label" id="label" type="text" />
              <label>Password</label>
              <input name="password" id="password" type="text" />
              <input id="login" type="submit" value="Entra">
              <br>Dimaneticato la <a href="#">password</a>?
            </form>
          </div>
        </div>
      </div>
    
    </div>
    <!-- header end -->
  
    <!-- contents: main part of the page - divided into external and internal -->
    <div id="contents_ext" class="open">
      <div id="contents_int">
        <p  id="contents_loader" style="display: none" class="side_bar_loader">Caricamento in corso</p>

        <%= @content_for_layout %>

      </div>
    </div>
    
    <!-- footer: contains some info -->
    <div id="footer" class="open">
      <h1>Talia | Discovery</h1>
      <p>Let's discover things</p>
    </div>
    <!-- footer end -->
        
  </div> <!-- int_page end -->
</div> <!-- ext_page end -->

<%= render(:partial => 'shared/main_footer') %>
